---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>🧑‍🚀 Hi again!</h1>
      <p>This is my 12th attempt at building a blog.</p>
      <p>
        I'm Dave, a Software Engineer that has gone off the deep end with AWS,
        cloud, and security. Sometimes you will see me in the arcades of various
        Tokyo districts, stomping away at <span>
          <span style="color: #0bf">f</span><span style="color: #f0b">l</span
          ><span style="color: #fb0">y</span><span style="color: #b0f">i</span
          ><span style="color: #0bf">n</span><span style="color: #f0b">g</span>
          <span style="color: #b0f">c</span><span style="color: #0bf">o</span
          ><span style="color: #f0b">l</span><span style="color: #fb0">o</span
          ><span style="color: #b0f">r</span><span style="color: #0bf">e</span
          ><span style="color: #f0b">d</span>
          <span style="color: #b0f">a</span><span style="color: #0bf">r</span
          ><span style="color: #f0b">r</span><span style="color: #fb0">o</span
          ><span style="color: #b0f">w</span><span style="color: #0bf">s</span>
        </span>
        (Dance Dance Revolution reference), or pondering my life decisions as I make
        sense of Jenkins.
      </p>
    </main>
    <Footer />
  </body>
</html>
